html, body {
  font-family: 'Gotham', sans-serif;
  font-size: 62.5%;
}

input {
  font-family: 'Gotham', sans-serif;
}

.game {
  margin: 0 auto;
  max-width: 500px;
  min-height: 100%;
  padding: 20px;

  .question {
    align-content: flex-end;

    h4 {
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #777;
    }

    p {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  > form {
    padding: 2rem 0;

    input {
      width: 100%;
      border: 2px solid #EEE;
      padding: 1.5rem;
      font-size: 2rem;
      border-radius: 5px;
    }
  }
}