html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: #FAFAFA;
}

body {
  padding-top: $header-height;
}

input {
  font-family: 'Gotham', sans-serif;
}