@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin below ($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin above ($breakpoint) {
  @media only screen and (min-width: $breakpoint+1) {
    @content;
  }
}