<head>
  <title>Gakusei</title>

  <meta name="description" content="Study and test your knowledge of basic Japanese!">
  <meta name="fragment" content="!">
  <meta name="theme-color" content="#4585F4">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:image" content="/assets/img/social-share.png">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/assets/img/logo.png">
</head>