<template name="answer">
  <div class="answer {{className}}">
    <header>
      <i class="fa fa-{{icon}}"></i>
    </header>
    <div class="content">
      <div class="question">
        <h4>{{{question.description}}}</h4>
        <h5>{{{question.answer}}}</h5>
      </div>
      <div class="parts">
        {{#each parts}}
          <span class={{type}}>{{{value}}}</span>
        {{/each}}
      </div>
      <span class="accuracy">
        {{accuracy}}% accuracy
        {{#if timeSpent}} - Answered in <strong>{{timeSpent}}</strong>{{/if}}
      </span>
      {{#if hasWords}}
        <a href="#" data-toggle-words class="words-toggle">
          {{#if isShowingWords}}
            <i class="fa fa-minus"></i> Hide vocabulary
          {{else}}
            <i class="fa fa-plus"></i> Show vocabulary
          {{/if}}
        </a>
        {{#if isShowingWords}}
          <ul class="words">
            {{#each question.words}}
              {{> word}}
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>