<template name="newQuestion">
  <div class="question-card type-{{currentQuestion.type}}">
    {{> question currentQuestion}}
    <form>
      {{#if isTypeOrder}}
        <ul class="words">
          {{#each words}}
            {{> questionWord}}
          {{/each}}
        </ul>
      {{else}}
        <input id="new_answer" type="text" autocomplete="off" />
      {{/if}}
      <footer>
        <label for="new_answer">Answer</label>
        {{#if canSkip}}
          <label data-skip><a href="#">Skip this question</a></label>
        {{/if}}
      </footer>
    </form>
  </div>
</template>