<template name="question">
  <div class="question">
    {{> selectStories}}
    <div class="content row">
      <h5>{{{title}}} {{#if context}} <u><i class="fa fa-info-circle"></i> context: {{context}}</u>{{/if}}</h5>
      <p id="question-description" class="{{#if showingFurigana}}with-furigana{{/if}}">{{{compiledDescription}}}</p>
      <footer>
        {{#if story}}
          <h6>({{story.title}})</h6>
        {{/if}}
        {{#if showFurigana}}
          <div class="options">
            <label for="furigana">
              {{#if showingFurigana}}
                <i class="fa fa-eye"></i> Furigana
              {{else}}
                <i class="fa fa-eye-slash"></i> Furigana
              {{/if}}
              <input id="furigana" type="checkbox" checked={{showingFurigana}}>
            </label>
          </div>
        {{/if}}
      </footer>
    </div>
  </div>
</template>