<template name="selectStories">
  <header class="stories {{#if listIsOpen}}open{{/if}}">
    <a href="#" class="toggle" data-toggle>
      {{#if listIsOpen}}
      <i class="fa fa-caret-up"></i> Close and save changes
      {{else}}
      <i class="fa fa-caret-down"></i> {{selectedText}}
      {{/if}}
    </a>
    <ul>
      {{#each stories}}
        <li>
          <label for="story-{{_id}}">
            <input id="story-{{_id}}" type="checkbox" value={{_id}} checked={{isSelected _id}} />
            <span>{{title}}</span>
          </label>
        </li>
      {{/each}}
    </ul>
  </header>
</template>