<template name="selectStories">
  {{#if Template.subscriptionsReady}}
    <header class="stories {{#if isOpen}}open{{/if}}">
      <a href="#" class="toggle" data-toggle>
        {{#if isOpen}}
        <i class="fa fa-caret-down"></i> Close and save changes
        {{else}}
        <i class="fa fa-caret-right"></i> {{selectedText}}
        {{/if}}
      </a>
      <ul>
        {{#each stories}}
          <li>
            <input id="story-{{_id}}" type="checkbox" value={{_id}} checked={{isSelected _id}} />
            <label for="story-{{_id}}">
              <i class="fa fa-check"></i> <span>{{title}}</span>
            </label>
          </li>
        {{/each}}
      </ul>
    </header>
  {{/if}}
</template>