.answers {
  position: relative;
  margin: 0 auto;
  max-width: 430px;

  .answer {
    background-color: #FFF;
    display: flex;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    position: relative;

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50px;

      i {
        color: #FFF;
        font-size: 2rem;
      }
    }

    &.correct {

      header {
        background-color: #77962B;
      }
    }

    &.partial {

      header {
        background-color: #ECB438;
      }
    }

    &.wrong {

      header {
        background-color: #E64B45;
      }
    }

    .content {
      padding: 2rem;
      flex: 1;

      .question {

        h4 {
          font-size: 1.7rem;
          font-weight: normal;
          margin-bottom: 2rem;
        }

        h5 {
          font-size: 1.5rem;
          font-weight: normal;
        }
      }

      .parts {
        padding: 1rem 0;
        width: 100%;
        display: block;
        font-size: 0; /* removes inline spacing */

        span {
          color: #77962B;
          font-size: 1.5rem;

          &.added {
            color: #E64B45;
          }

          &.removed {
            display: none;
            color: #AAA;
          }
        }
      }

      .accuracy {
        display: block;
        font-style: italic;
        color: #AAA;
      }

      &:hover .parts span {

        &.added {
          display: none;
        }

        &.removed {
          display: inline;
        }
      }

      .note {
        text-align: center;
        font-style: italic;
        font-size: 1.2rem;
        color: #AAA;
      }
    }
  }
}