.answers {
  position: relative;
  margin: 0 auto;
  max-width: 430px;

  .answer {
    background-color: #FFF;
    display: flex;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    position: relative;

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50px;

      i {
        color: #FFF;
        font-size: 2rem;
      }
    }

    &.correct {

      header {
        background-color: #77962B;
      }
    }

    &.partial {

      header {
        background-color: #ECB438;
      }
    }

    &.wrong {

      header {
        background-color: #E64B45;
      }
    }

    .content {
      padding: 2rem;
      flex: 1;

      .question {

        h4 {
          font-size: 1.7rem;
          font-weight: normal;
          line-height: 1.3;
          margin-bottom: 2rem;

          .placeholder {
            background-color: rgba(0,0,0,0.1);
            padding: 0px 5px;
            margin-right: 1px;
            border-radius: 100%;

            i {
              opacity: 0.3;
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        h5 {
          font-size: 1.5rem;
          font-weight: normal;
        }
      }

      .parts {
        padding: 1rem 0;
        width: 100%;
        display: block;
        font-size: 0; /* removes inline spacing */

        span {
          color: #77962B;
          font-size: 1.5rem;

          &.added {
            color: #E64B45;
          }

          &.removed {
            display: none;
            color: #AAA;
          }
        }
      }

      .accuracy {
        display: block;
        font-style: italic;
        font-size: 1rem;
        color: #AAA;
      }

      &:hover .parts span {

        &.added {
          display: none;
        }

        &.removed {
          display: inline;
        }
      }

      .note {
        text-align: center;
        font-style: italic;
        font-size: 1.2rem;
        color: #AAA;

        a {
          color: #AAA;
          text-decoration: none;
          border-bottom: 1px dotted #AAA;

          &:hover {
            color: #555;
            border-bottom-color: #555;
          }
        }
      }

      .words-toggle {
        display: inline-block;
        margin-top: 2rem;
        color: #AAA;
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: normal;

        &:hover {
          color: $color-primary;
        }
      }

      .words {
        @extend %clear;
        margin-top: 1rem;

        li {
          background-color: #FFF;
          box-shadow: 0 1px 4px rgba(0,0,0,0.3);
          margin: 0 1rem 1rem 0;
          float: left;

          h3 {
            background-color: $color-primary;
            padding: 1rem;
            color: #FFF;
            font-size: 2rem;
            font-weight: normal;
          }

          .content {
            padding: 1rem;

            h4 {
              font-weight: normal;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
