.question-card {
  margin: 0 auto;
  max-width: 500px;
  min-height: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;

  .question {
    @include transition(background-color, 2s);
    background-color: $color-primary;
    color: #FFF;

    .content {
      padding: 3rem 2rem 2rem;
      align-content: flex-end;
    }

    h5 {
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 3rem;

      u {
        text-decoration: none;
        background-color: rgba(255,255,255,0.2);
        padding: 0.3rem;
        white-space: nowrap;
      }
    }

    p {
      @extend %not-selectable;
      cursor: default;
      font-size: 2.5rem;
      font-weight: normal;
      line-height: 1.5;

      rt {
        display: none;
      }

      &.with-furigana {

        rt {
          display: block;
        }
      }

      .placeholder {
        background-color: rgba(255,255,255,0.2);
        padding: 0px 10px;
        border-radius: 4px;
        margin-right: 4px;

        i {
          opacity: 0.5;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      font-size: 1.5rem;

      h6 {
        flex: 1;
        font-weight: normal;
        opacity: 0.5;
      }

      .options {

        label {
          cursor: pointer;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          input[type="checkbox"] {
            display: none;
          }
        }
      }
    }
  }

  > form {
    padding: 2rem;

    input {
      width: 100%;
      border: 0;
      font-size: 3rem;

      &:disabled {
        background-color: #FFF;
        color: #CCC;
      }
    }

    .words {
      @extend %clear;

      li {
        float: left;
        margin: 0 1rem 1rem 0;

        a {
          display: block;
          padding: 1rem 1.5rem;
          border: 2px solid #EEE;
          color: #AAA;
          font-size: 2.3rem;
          border-radius: 4px;
          text-decoration: none;
        }

        &.selected {

          a {
            border-color: transparent;
            color: #EEE;
          }
        }
      }
    }

    footer {
      @extend %custom-font;
      display: flex;
      margin-top: 1rem;

      label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        display: block;

        &, a {
          color: #AAA;
        }

        a:hover {
          color: #555;
        }

        &:first-child {
          flex: 1;
        }
      }
    }
  }

  &.type-kanji-to-kana .question {
    background-color: #7375a5;
  }
}