.question-card {
  margin: 0 auto;
  max-width: 500px;
  min-height: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;

  .question {
    @include transition(background-color, 2s);
    padding: 5rem 2rem 2rem;
    background-color: $color-primary;
    color: #FFF;
    align-content: flex-end;

    h5 {
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }

    p {
      font-size: 2.5rem;
      font-weight: normal;
      line-height: 1.5;

      rt {
        display: none;
      }

      &.with-furigana {

        rt {
          display: block;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      h6 {
        flex: 1;
        font-weight: normal;
        font-size: 1.5rem;
        opacity: 0.5;
      }

      .options {

        label {
          font-size: 1.3rem;
          cursor: pointer;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          input[type="checkbox"] {
            display: none;
          }
        }
      }
    }
  }

  > form {
    padding: 2rem;

    input {
      width: 100%;
      border: 0;
      font-size: 3rem;

      &:disabled {
        background-color: #FFF;
        color: #CCC;
      }
    }

    label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      color: #AAA;
      display: block;
      margin-top: 1rem;
    }
  }

  &.type-kanji-to-kana .question {
    background-color: #7375a5;
  }
}