.question-card {
  $max-width: 500px;

  @include transition(background-color 2s);
  background-color: $color-primary;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;
  padding-bottom: 3rem;

  @include below($max-width) {
    padding-bottom: 0;
  }

  .row {
    max-width: $max-width;
    margin: 0 auto;
  }

  .question {
    color: #FFF;

    .content {
      padding: 3rem 2rem;
      align-content: flex-end;
    }

    h5 {
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 3rem;

      u {
        text-decoration: none;
        background-color: rgba(255,255,255,0.2);
        padding: 0.3rem;
        white-space: nowrap;
      }
    }

    p {
      @extend %not-selectable;
      cursor: default;
      font-size: 2.5rem;
      font-weight: normal;
      line-height: 1.5;

      rt {
        display: none;
      }

      &.with-furigana {

        rt {
          display: block;
        }
      }

      .placeholder {
        background-color: rgba(255,255,255,0.2);
        padding: 0px 10px;
        border-radius: 4px;
        margin-right: 4px;

        i {
          opacity: 0.5;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      font-size: 1.5rem;

      h6 {
        flex: 1;
        font-weight: normal;
        opacity: 0.5;
      }

      .options {

        label {
          cursor: pointer;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          input[type="checkbox"] {
            display: none;
          }
        }
      }
    }
  }

  form {
    position: relative;
    padding: 2rem;
    background-color: #FFF;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    input {
      width: 100%;
      border: 0;
      font-size: 3rem;

      &:disabled {
        background-color: #FFF;
        color: #CCC;
      }
    }

    .answer {
      font-size: 3rem;

      span {
        font-weight: 300;
        color: #CCC;
      }
    }

    .button {
      display: inline-block;
      border: 2px solid $color-secondary;
      border-radius: 4px;
      text-decoration: none;
      color: $color-secondary;
      font-size: 1.5rem;
      margin: 3rem 0 0;
      padding: 1rem;

      &:hover {
        background-color: $color-secondary;
        color: #FFF;
      }
    }

    .words {
      @extend %clear;

      li {
        float: left;
        margin: 0 1rem 1rem 0;

        a {
          display: block;
          padding: 1rem 1.5rem;
          border: 2px solid #EEE;
          color: #AAA;
          font-size: 2.3rem;
          border-radius: 4px;
          text-decoration: none;
        }

        &.selected {

          a {
            border-color: transparent;
            color: #EEE;
          }
        }
      }
    }

    footer {
      @extend %custom-font;
      display: flex;
      margin-top: 1rem;

      &:first-child {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        display: block;

        &, a {
          color: #AAA;
        }

        a:hover {
          color: #555;
        }

        &:first-child {
          flex: 1;
        }
      }
    }
  }

  &.type-kanji-to-kana {
    background-color: $color-secondary;
  }

  &.type-kana-order-words {
    background-color: $color-tertiary;
  }
}